<mat-toolbar>
  <mat-toolbar-row class="justify-content-between align-items-center">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="d-flex align-items-center mr-3">
      <p>{{ myDate | date }}</p>
      <div class="ml-2">
        <button mat-button [matMenuTriggerFor]="menu" class="user">
          <img src="assets\R.png" alt="user image" class="user-image mr-1 p-2" />
          User Name
          <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            Logout
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
