  .page {
    padding: 0 1rem;
    box-sizing: border-box;
    border-radius: 20px;
    height : 500px;
    left : 2 0px;
    margin-top : 20px
  }

  .imsstatus {
  color: var(--dark-grey, #252525);
  text-align : left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom : 10px;
  margin-top :20px;
  margin-left : 20px;
} 

  table {
    box-shadow: 0 .4rem .8rem #0005;
    max-height : calc(89% - 1.6rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
  }
  table {
    width : 95%;}
  table {
    box-shadow: 0 .4rem .8rem #0005;
    width : 95%;
    max-height : calc(89% - 1.6rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    font-family: "Roboto-Light", sans-serif;
    font-size: 0.8em;  
  
  }
  table:-webkit-scrollbar{
    width : 0.5rem;
    height : 0.5rem;
  }
  
  table:-webkit-scrollbar-thumb{
    border-radius: .5rem;
    visibility: hidden;
  }
  
  table:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
  }
  
  table, th, td {
    border-collapse: collapse;
    vertical-align: middle;
    padding: 8px;
    text-align: center; 
  }
  
  thead th {
    position: sticky;
    top : 0;
    left : 0;
    background-color: #EAF1FF;
    text-transform: capitalize;
  }
  tbody tr:nth-child(even) {
    background-color: #0000000b;
  }
  
  tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay),
  }
  tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
  }
  
  tbody tr:hover {
    background-color: #fff6 ;
  }
  tbody tr td,
  tbody tr td p{
      transition: .2s ease-in-out;
  }
  tbody tr.hide td,
  tbody tr.hide td p {
      padding: 0;
      font: 0 / 0 sans-serif;
      transition: .2s ease-in-out .5s;
  }


  .Details {
    display: flex;
   flex-wrap: wrap;
   margin-left : 20px;
   }
  
    .detail-item {
      display: flex;
      align-items: center;
      margin-left : 10px;
      margin-right : 10px;
      margin-bottom : 20px;
      border-radius: 8px;
      padding: 15px;
      flex-basis: calc(50% - 20px);
    }
  .Details p{
  color: #333b69;
  text-align : left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 19px;
  font-weight: 600;
  width : 74px;
  height : 26.31px;
  margin-left : 20px;
}
  .icon {
    margin-right : 15px;
    border-radius: 20%;
    padding: 10px 10px 7px 10px;
}
  .icon1{
  background-color: #FFF5D9;
  color:#858000}
 .icon2{
  background-color: #E7EDFF;
  color:#0038FF}
  .icon3{
    background-color: #FFE0EB;
    color:#FF0A9D}
.icon4{
  background-color: #DCFAF8;
  color:#1E7308}

  
  
  .text {
    flex-grow: 1;
  }
  
  .label {
    font-weight: bold;
    color: #333;
  }
  
  .value {
    color: #666;
  }
  
  
.download-icon{
  font-size:24px;
  cursor: pointer;
  float: right;
  margin-right: 40px;
  margin-top:20px;
  color: #96B9D2;
}
button{
  background-color: #ffff;
  color:  #718ebf;
  border-color: #718ebf;
  align-items: center;
  width : 121px;
  height : 26px;
  border-radius: 30px; 
  cursor: pointer; 
  vertical-align: middle;
  }