<div class="login-box">
<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <div class="login-box">
        <div class="login-header">
            <header>Connexion</header>
        </div>
        <div class="input-box">
          <input
            type="text"
            pInputText
            formControlName="email"
            class="input-field"
            name="email"
            placeholder="Type your email"
            autocomplete="off"
          />
          <small
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="block p-error"
        >
          <div *ngIf="email.errors?.['required']">Email is required.</div>
          <div *ngIf="email.errors?.['email']">Email should be valid</div>
        </small>
        </div>
        <div class="input-box">
          <input
            type="password"
            pInputText
            formControlName="password"
            class="input-field"
            name="password"
            placeholder="Type your password"
          />
          <small
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="block p-error"
        >
          <div *ngIf="password.errors?.['required']">Password is required.</div>
        </small>
        </div>
        <div class="input-submit">
          <button class="submit-btn" type="submit">Connecter</button>
        </div>
      <div class="sign-up-link">
        <p>vous n'avez pas un compte? <a [routerLink]="['/register']">Créer un compte</a></p>
    </div>
      </div>
    </form>
    </div>
    