<div class="imsaudit">IMS Audit</div>
<div class="Details row">
<div class="detail-item col-3 offset-1">
  <div class="icon icon1"><i class="fa fa-search" aria-hidden="true"></i>
  </div>
  <div class="text">
    <div class="label">N° de changement</div>
    <div class="value">01470</div>
  </div>
</div>
<div class="detail-item col-4">
  <div class="icon icon3"><i class="fa fa-user"></i></div>
  <div class="text">
    <div class="label">Auditeur</div>
    <div class="value">ALI BEN SALAH</div>
  </div>
</div>
<div class="detail-item col-4">
  <div class="icon icon2 "><i class="fa fa-calendar"></i></div>
  <div class="text">
    <div class="label">Date de l'audit</div>
    <div class="value">12 juin 2024</div>
  </div>
</div>

</div>
<table>
    <thead>
      <tr>
  <th  scope="col">N° changement</th>
  <th scope="col">Application</th>
  <th scope="col">Mise à jour FMEA/PDS cloturée</th>
  <th scope="col">Déviation</th>
  <th scope="col">Action</th>
  <th scope="col">Responsable</th>
  <th scope="col">Délai</th>
  <th scope="col">Contrôle de succés</th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
  <td scope="row">01470</td>
  <td scope="row">  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
  </td>
  <td scope="row">  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
  </td>
  <td scope="row">  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
  </td>
  <td scope="row"> <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
    </td>
  <td>  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
  </td>
  <td scope="row"> <input type="date" class=" rounded-left border border-grey">
  </td>
  <td scope="row">  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
  </td>
  <td>     <button type="button" class="viewdetails btn btn-primary" mdbRipple > Enregistrer</button>
  </td>
</tbody>
</table>