:host {
  .mat-icon {
    vertical-align: middle;
    margin-right : 1rem;
  }
}

.logo {
  text-align: center;
  padding: 2.6rem 1rem;
  img {
    width : 200px;
  }
}

::ng-deep .mat-list-item{
    color: white !important;
}
.mat-list-item:hover {
  color: #f2f5f7 !important;
}

.list-item-active {
  background: #4B80CF !important;
  border-radius: 0 2rem 2rem 0;
  color: #f2f5f7 !important; 
}

.list-item-active:hover {
  background: #4B80CF;
}

::ng-deep .mat-list-item-content {
  background: #4B80CF !important;
}

.mat-subheader {
  color: #4B80CF;
  font-size: 0.6rem;
  font-weight: 100;
  letter-spacing: 1px;
}
.navlist a{
  color:#ffff !important;
}
