<mat-nav-list>
    <div class="logo py-4">
        <img src="\assets\Leoni_AG_Logo.svg.png" alt="Leoni logo"/>
    </div>
<div class="navlist">
 <a mat-list-item routerLinkActive="list-item-active" routerLink="/home" style="color: white  !important;" class="mt-5">
  <mat-icon>home</mat-icon> Home
</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/imsaudit">
    <mat-icon>list</mat-icon> IMS Audit
</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/reporting">
    <mat-icon>report</mat-icon> Reporting
  </a>
</div>
</mat-nav-list>