.page {
    padding: 0 1rem;
    box-sizing: border-box;
    border-radius: 20px;
    height : 500px;
    left : 20px;
    margin-top : 20px;

  }
  .rectangle {
    width : 80vw;
    height : 80vh;
    margin-top : 20px;
    margin-left : .5rem;
    border-radius: 0.8rem;
    background-color:white;
  }
  
.actions{
  color: var(--dark-grey, #252525);
  text-align : left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 25px;
  line-height: 130%;
  font-weight: 700;
  position: relative;
  margin-bottom : 20px;
  margin-left: 20px;
  margin-top: 20px;
}
.create-action{
  padding: 10px 20px;
  margin-left : 10px;
  color:#ffff;
  background-color: #003C88;
  cursor:pointer;
  border-radius: 10px;
  text-align : right;
}
 table {
    box-shadow: 0 .4rem .8rem #0005;
    width : 95%;
    max-height : calc(89% - 1.6rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .8rem;
    font-family: "Roboto-Light", sans-serif;
    font-size: 0.8em;  }
      

  table, th, td {
    border-collapse: collapse;
    vertical-align: middle;
    padding: 8px;
    text-align: center; 
  }
  .table-container {
    max-width : 100%;
    max-height : 100%;
 

  }
  
   th {
    position: sticky;
    top : 0;
    left : 0;
    background-color: #EAF1FF;
    text-transform: capitalize;
  }
  tr:nth-child(even) {
    background-color: #0000000b;
  }
  
  tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay),
  }
   tr.hide {
    opacity: 0;
    transform: translateX(100%);
  }
  
   tr:hover {
    background-color: #fff6 ;
  }
   tr td,
   tr td p{
      transition: .2s ease-in-out;
  }
   tr.hide td,
   tr.hide td p {
      padding: 0;
      font: 0 / 0 sans-serif;
      transition: .2s ease-in-out .5s;
  }
  button{
    background-color: #ffff;
    color:  #718ebf;
    border-color: #718ebf;
    align-items: center;
    width : 121px;
    height : 26px;
    border-radius: 30px; 
    cursor: pointer; 
    vertical-align: middle;
    }
    .enregistrer{
margin-left: 30px;
margin-bottom: 20px;
    }
    