<form [formGroup]="actionsForm" (ngSubmit)="saveAllActions()">
  <div class="actions">actions</div>
  <table>
    <tr>
      <th>Action à faire</th>
      <th>O/N</th>
      <th>Détail d'action</th>
      <th>Responsable</th>
      <th>Délai</th>
      <th>Attachement</th>
      <th>Statut</th>
      <th>Commentaire QMS Central Data Entry</th>
      <th></th>
    </tr>
    <ng-container formArrayName="actions">
      <tr *ngFor="let action of actionsControls; let i = index" [formGroupName]="i">
        <td>{{ action.get('name')?.value }}</td>
        <td>
          <select formControlName="oui">
            <option value="oui">oui</option>
            <option value="non">non</option>
          </select>
        </td>
        <td>
          <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" formControlName="detail">
          </div>
        </td>
        <td>
          <select formControlName="responsable">
            <option *ngFor="let user of responsableA" [value]="user.id">{{ user.name }}</option>
          </select>
        </td>
        <td><input type="date" class="mr-1" formControlName="delai"></td>
        <td><input type="file" (change)="onFileSelected($event, i)"></td>
        <td>
          <select formControlName="statut">
            <option value="en attente">en attente</option>
            <option value="en progression">en progression</option>
            <option value="cloturée">Cloturée</option>
          </select>
        </td>
        <td>
          <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" >
          </div>
        </td>
      </tr>
    </ng-container>
  </table>
  <button type="submit" class="enregistrer">Enregistrer</button>
</form>
