.page {
  padding: 0 1rem;
  box-sizing: border-box;
  border-radius: 20px;
  height : 500px;
  left : 2 0px;
  margin-top : 20px;
}

.container{ 
   display: flex;
   flex-direction:row;
   flex-wrap: wrap;
  gap: 10px;
  margin-top:30px ;
  width: 100%;
  margin-bottom: 20px;
  
  align-items: center;
  
}

.home{
  color: var(--dark-grey, #252525);

  font-family: "Roboto-Bold", sans-serif;
  font-size: 25px;

  font-weight: 700;
 margin: 20px;
  
}


.rectangle {
  width : 80vw;
  height : 80vh;
  margin-top : 20px;
  margin-left : .5rem;
  border-radius: 0.8rem;
  overflow: hidden;
  box-sizing: border-box;
  background-color:white;
}
@media print {
  .table {
   overflow: visible;
   height : auto !important;
   width : auto !important;
  }
 }
table {
  box-shadow: 0 .4rem .8rem #0005;
  width : 95%;
  max-height : calc(89% - 1.6rem);
  margin: .8rem auto;
  border-radius: .8rem;
  color: #000000;
  text-align : left;
  font-family: "Roboto-Light", sans-serif;
  font-size: 11px;

}
/*/
table:-webkit-scrollbar{
  width : 0.5rem;
  height : 0.5rem;
}

table:-webkit-scrollbar-thumb{
  border-radius: .5rem;
  visibility: hidden;
}

table:hover::-webkit-scrollbar-thumb{ 
  visibility: visible;
}
*/

table {
  width : 95%;

}
table, th, td {
  border-collapse: collapse;
  vertical-align: middle;
  padding: 8px;
  text-align: center; 
}

thead th {
  position: sticky;
  top : 0;
  left : 0;
  background-color: #EAF1FF;
  cursor: pointer;
  text-transform: capitalize;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 13px;
}


tbody tr {
  --delay: .1s;
  transition: .5s ease-in-out var(--delay);
  background-color: white !important;
}
tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr td,
tbody tr td p{
    transition: .2s ease-in-out;
    background-color: #ffff;
}
tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

.in-progress {
  background-color: #86e49d;
    color: #006b21;
    font-size: medium;
    padding: 50px;
}


.closed{  
   background-color: #d893a3;
   color: #b30021;
}
@media (max-width : 1000px) {
  td:not(:first-of-type) {
      min-width : 12.1rem;
  }
}
.create-ims{
  padding: 5px 10px;
  margin-left : 10px;
  color:#ffff;
  font-family: "Roboto-Bold", sans-serif;
  background-color: #003C88;
  cursor:pointer;
  border-radius: 10px;
}

mat-paginator{
  margin-top : 30px;
}

#status-select{
  width : 100px !important;
 
 margin: 20px;
 margin: 20px ;


}
#Status:hover{
 background-color: #c8d3f1d5;
 cursor: pointer;

}

.viewdetails{
  background-color: #ffff;
  color:  #718ebf;
  border-color: #718ebf;
  align-items: center;
  width : 121px;
font-size: small;
  border-radius: 30px; 
  cursor: pointer; 
}
.viewdetails:hover {
  background-color: #0056b3; 
}
.mat-paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.mat-paginator-navigation {
  margin: 0 5px;
  background-color: #0056b3;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.mat-paginator-navigation:hover {
  background-color: #004080;
}

/* Style pour les options de taille de page */
.mat-select-value,
.mat-select-arrow {
  color: #666;
}

.mat-select-trigger:hover .mat-select-arrow {
  color: #0056b3;
}

/* Style pour les informations sur la pagination */
.mat-paginator-range-label,
.mat-paginator-page-size-label {
  color: #666;
}

/* Style pour la taille de police des boutons */
.mat-paginator-page-size,
.mat-select-value,
.mat-select-arrow {
  font-size: 14px;
}

/* Style pour la flèche de défilement */
.mat-paginator-navigation .mat-icon {
  font-size: 18px;
  color: #666;
  transition: color 0.3s;
}

.mat-paginator-navigation .mat-icon:hover {
  color: #0056b3;
}

/* Style pour les boutons de navigation désactivés */
.mat-paginator-navigation-disabled {
  background-color: #f0f0f0;
  color: #ccc;
  cursor: not-allowed;
}

/* Style pour la taille de page sélectionnée */
.mat-paginator-page-size-option {
  color: #666;
}

.mat-paginator-page-size-option:hover {
  background-color: #f0f0f0;
}

.mat-mdc-form-field {
  --mat-mdc-form-field-floating-label-scale: 0.75;
  display:inline;
  flex-direction:initial;
  min-width: 0;
  text-align:center;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  line-height:normal;
  font-size:small;
  letter-spacing:normal;
  font-weight: 20px;
 margin-right: 20px;

}

/* .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper{
 
  
}
.mat-mdc-text-field-wrapper{
  height: 20px;
  
} */
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled){

  height: 30px !important;
  align-items: center !important;
}

.serachform{
  display: flex;
  flex-direction:row;
  border:  rgb(246, 240, 240);
  
}


form{
  display: flex;
  flex-direction:row;
 
  
}

.cont{
  display: flex;
  flex-direction:row;
  
}



.searchbtn{
  background-color: #003C88;
  color: white;
  border-radius: 0px 5px  5px 0px ;
  border: none;
  
}

#input{
 border: #0dd41d !important;
}

.period{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.in-progress {
  background-color: #86e49d;
  color: #006b21;
  font-size: medium;
  padding: 5px; /* Example color for 'in progress' */
}

.closed {
    background-color: #d893a3; 
    color: #b30021;
    padding: 5px;
}

.select-in-progress {
  background-color: #dcf6e2;
    border: 1px solid #86e49d;
    border-radius: 20px;
    color: #006b21;
    font-size: medium;
    padding: 5px;}

.select-closed {
  background-color:#f6dce3;
  border: 1px solid #d893a3;
    color: #b30021;
    border-radius: 20px;
    font-size: medium;
    padding: 5px;
}