<div class="container-fluid page">
 
  <header class="cont">
    <div class="home">Home</div>
    <div class="container" >
     
        <h6>
          Statut
        </h6>

        <div id="status-select">
        <select name=""  class=" rounded-left border border-grey">
          <option value="en cour">en progrés</option>
          <option value="terminé">terminé</option>
        </select>
      </div>
<div class="period">
<b>Période</b><br/>

     <input type="date" class=" rounded-left border border-grey">-<input type="date" class=" rounded-left border border-grey">
</div>
    
      <div >
        <form  class="serachform" >
          <div >
          <input type="text" [(ngModel)]="searchText" name="searchTerm" class=" rounded-left border border-grey">
        </div>
          <button type="submit" class="searchbtn"><i class="fa fa-search"></i></button>
        </form>
      </div>

      <div>
        <button type="button" class="create-ims btn btn-success" mdbRipple (click)="openDialog()">Créer une  IMS</button>
      </div>  
   
      </div>
  
     </header>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">IMS</th>
          <th scope="col">Date</th>
          <th scope="col">Responsable</th>
          <th scope="col">Traitement etude impact</th>
          <th scope="col">Taux de retard</th>
          <th scope="col">Success check</th>
          <th scope="col">Audit </th>
          <th  scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let e of ims">
          <td scope="row">{{e.id}}</td>
          <td scope="row">{{e.date|date}}
            </td>
          <td scope="row">
            {{e.responsable}}
          </td>
          <td scope="row">0%</td>
          <td scope="row">0%</td>
          <td>
            <select name="Status" id="Status" (change)="updateStatus(e.id, $event, 'sucesscheck')">
              <option value="en progrés" class="in-progress" [selected]="e.sucesscheck === 'en progrés'">en progrés</option>
              <option value="Cloturée" class="closed" [selected]="e.sucesscheck === 'Cloturée'">Cloturée</option>
            </select>
          </td>
          <td>
            <select name="Status" id="Status" (change)="updateStatus(e.id, $event, 'audit')">
              <option value="en progrés" class="in-progress" [selected]="e.audit === 'en progrés'">en progrés</option>
              <option value="Cloturée" class="closed" [selected]="e.audit === 'Cloturée'">Cloturée</option>
            </select>
          </td>
         
          <td>
            <button class="btn btn-danger" aria-label="Delete" style="margin-right: 7px;" (click)="confirmAndDelete(e.id)">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
            <button type="button" class="viewdetails btn btn-primary" mdbRipple (click)="goToDetails(e.id)"> Détails</button>

          </td>
        </tr>
      </tbody>
    </table>
    <div>
    <mat-paginator [length]="100"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 15, 50]"
    aria-label="Select page">
</mat-paginator></div>
</div>