<div class="container-fluid page">
  <header class="d-flex justify-content-between align-items-center">
    <div class="home">Home</div>
    <div class="container" >
      <div class="d-flex align-items-start ">
        <h6>
          Statut
        </h6>
        <select name="" id="status-select">
          <option value="en cour">en cour</option>
          <option value="terminé">terminé</option>
        </select>
        <mat-form-field appearance="fill">
          <mat-label>Enter a period</mat-label>
          <mat-date-range-input [rangePicker]="picker" [formGroup]="dateRangeForm">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        
        <form class="d-flex mb-2">
          <input type="text" [(ngModel)]="searchText" name="searchTerm" >
          <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
        </form>

        <button type="button" class="create-ims btn btn-success" mdbRipple (click)="openDialog()">Create IMS</button>
          
        </div>
      </div>
  
     </header>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">IMS</th>
          <th scope="col">Date</th>
          <th scope="col">Responsable</th>
          <th scope="col">Traitement etude impact</th>
          <th scope="col">Taux de retard</th>
          <th scope="col">Success check</th>
          <th scope="col">Audit </th>
          <th  scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let e of ims">
          <td scope="row">{{e.id}}</td>
          <td scope="row">{{e.date|date}}
            </td>
          <td scope="row">
            {{e.responsable}}
          </td>
          <td scope="row">{{e.traitementei}}</td>
          <td scope="row">{{e.tauxretard}}</td>
          <td>
            <select name="Status" id="Status">
              <option value="in progress" class="in-progress">in progress</option>
              <option value="Closed" class="closed">Closed</option>
            </select>
          </td>
          <td>
            <select name="Status" id="Status">
              <option value="in progress" class="in-progress">in progress</option>
              <option value="Closed" class="closed">Closed</option>
            </select>
          </td>
         
          <td>
            <button class="btn btn-danger" aria-label="Delete" style="margin-right: 7px;" (click)="confirmAndDelete(e.id)">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
            <button type="button" class="viewdetails btn btn-primary" mdbRipple (click)="goToDetails(e.id)">View Details</button>

          </td>
        </tr>
      </tbody>
    </table>
    <div>
    <mat-paginator [length]="100"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 15, 50]"
    aria-label="Select page">
</mat-paginator></div>
</div>
